app-login {
  .login_form {
    max-height: 104px;
    margin-bottom: 32px;

    img {
      width: auto;
      max-height: 89px;
    }

    ul {
      list-style: none;

      .btn_lang {
        width: 38px;
        font-size: 24px;
      }
    }
  }
}
